<html>
<body>
  <link rel="stylesheet" href="css/styles.css">
  <h1>Enter new Developer:</h1>
  <form action="/addDeveloper" method="POST">
    first name <input type="text" name="firstName" /> <br />
    last name <input type="text" name="lastName" /> <br />
    level <select name='level'>
      <option value="BEGINNER">BEGINNER</option>
      <option value="EXPERT">EXPERT</option>
    </select><br />
    Address state <input type="text" name="state" /><br />
    Address suburb <input type="text" name="suburb" /><br />
    Address street <input type="text" name="street" /><br />
    Address unit <input type="text" name="unit" /><br />
    <button>Submit</button>
  </form>
  Click <a href="/"> HERE</a> to return to home page!!
</body>
</html>