<html>
<body>
  <link rel="stylesheet" href="css/styles.css">
  <h1>Enter TaskID of task to be deleted:</h1>
  <form action="/deleteOneTask" method="POST">
    Task ID <input type="text" name="TaskID" /> <br />
    <button>Submit</button>
  </form>
  <form action="/deleteAllTask" method="POST">
    <p>Delete All Tasks</p>
    <button>Submit</button>
  </form>
  <form action="/deleteAllComplete" method="POST">
    <p>Delete All Completed Tasks</p>
    <button>Submit</button>
  </form>
  <form action="/deleteAllDeveloper" method="POST">
    <p>Delete All Developer</p>
    <button>Submit</button>
  </form>
  Click <a href="/"> HERE</a> to return to home page!!
</body>
</html>