<html>
<head>
    <title>Index</title>
    <img src="/images/logo.png">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <br><a href="/newTask">Add Task</a><br>
    <a href="/listTasks">List Task</a><br>
    <a href="/addDeveloper">Add Developer</a><br>
    <a href="/listDeveloper">List Developer</a><br>
    <a href="/delete">delete Task by ID or delete all tasks</a><br>
    <a href="/update">Update Task</a><br>
    <a href="/updateFname">Update first name</a><br>
</body>
</html>